* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  background-color: bisque;
  color:saddlebrown;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-direction: row-reverse;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

h1 {
  font-size: 50px ;
  font-style: strong;
  background-color: #c09574;

}

.title {
  font-weight: bold;
  color: rgb(65, 36, 15);
  text-align: center;
  padding: 20px
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.main-column{
  float: left;
  width: 66.66%;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toggle-button {
  background-color: #c09574; 
  border: none; 
  color: rgb(65, 36, 15); 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.toggle-button:hover {
  background-color: #a37d60;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}


.iframe-content {
  width: 100%;
  height: 100%;
}